{% extends 'base.html' %}
{% block content %}

    <h1>Log In</h1>

    <!-- Add the login form -->
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="login">

        <!-- Django Feature that will automatically redirect a user that tries 
             to access a protected route, back to that route after they log in -->
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}